<?php

$finder = PhpCsFixer\Finder::create()
    ->files()
    ->in('.')
    ->name('*.php')
    ->ignoreDotFiles(true)
    ->ignoreVCS(true);

return PhpCsFixer\Config::create()
    ->setRules(php_fixer_rules())
    ->setFinder($finder);
